<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Start</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!--    <script src="https://kit.fontawesome.com/3634e6d3a7.js" crossorigin="anonymous"></script>-->
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand mb-0 h1" href="http://localhost:8080/mainMenu" >OnlineBanking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse navbar-fixed-top" id="navbarNav">
            <ul class="navbar-nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/mainMenu}" data-toggle="tab">Start</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/transaction}" data-toggle="tab">Payments</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/account/history}">History</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <form th:action="@{/transaction}" th:object="${transactionDto   }" method="post" role="form" data-toggle="validator">
        <div class="container-fluid">
            <h1>Transaction</h1>

            <a class="btn btn-secondary" th:href="@{/recipients}">Your recipient's</a>
            <br>
            <br>

            <div>
                <label><b>Name of recipient</b>
                    <input type="text" placeholder="Enter recipient's name" th:field="*{nameOfRecipient}" required/>
                </label>
                <p th:if="${#fields.hasErrors('nameOfRecipient')}" th:errorclass="error" th:errors="*{nameOfRecipient}"></p>
            </div>
            <hr>

            <div>
                <label><b>Recipient account number</b>
                    <input type="text" placeholder="recipient's account number" th:field="*{recipientAccountNumber}"
                           required/>
                </label>
                <p th:if="${#fields.hasErrors('recipientAccountNumber')}" th:errorclass="error"
                   th:errors="*{recipientAccountNumber}"></p>
            </div>
            <hr>

            <div>
                <label><b>Amount</b>
                    <input type="text" placeholder="Enter amount" th:field="*{amount}" required/>
                </label>
                <p th:if="${#fields.hasErrors('amount')}" th:errorclass="error" th:errors="*{amount}"></p>
            </div>
            <hr>

            <div>
                <label><b>Title</b>
                    <input type="text" placeholder="title" th:field="*{title}" required/>
                </label>
                <p th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"></p>
            </div>
            <hr>

            <button type="submit" value="Transaction" class="btn btn-primary">Sent</button>
        </div>
    </form>

</div>
</body>
</html>